<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="{{anime.images}}" alt="">
            <h1>{{anime.title}}</h1>
            <button type="button" class="btn btn-success" (click)="addToCountry(-1.539005821235809, 47.20562171354798, anime._id)"> add Nantes </button>
            <button type="button" class="btn btn-success" (click)="addToCountry(2.320041, 48.8588897, anime._id)"> add Nantes </button>
        </div>
        <div class="col-8 mt-4">
            <div>
                <h5>
                    Trailer
                </h5>
                <a href="{{anime.streaming}}"> Link youtube !</a>
                <h5 class="mt-4">Synopsis</h5>
                <p>
                    {{anime.synopsis}}
                </p>
            </div>
        </div>
    </div>
</div>
